# Prettyfi
set colored-stats On
set colored-completion-prefix On

# Completion settings
set show-all-if-ambiguous on
set completion-ignore-case on
set completion-display-width 0
set completion-query-items 1000

# ^C no longer shows on C-c keypress
set echo-control-characters off

# Command history search with ctrl + up/down arrow keys
"\e[A": history-search-backward
"\e[B": history-search-forward

# Move forward/backward by word with ctrl + left/right arrow keys
"\e[1;5D": backward-word
"\e[1;5C": forward-word


# Bash Keybindings
"\C-f":"cd /home/rick/.config/"
"\C-b":"cd ..\n"
"\C-h":"cd ~\n"
